<!doctype html>
<html lang="en">
{% load static %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Landing Page</title>

    <!--Google font-->
    <link href="https://fonts.googleapis.com/css?family=K2D:300,400,500,700,800" rel="stylesheet">

    <!-- Bootstrap CSS / Color Scheme -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>

<body>
    <!--Header Section-->
    <section class="bg-gradient pt-5 pb-6">
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex flex-row align-items-center justify-content-between">
                    <div class="heading-brand">Price List</div>
                    <a href="#" class="btn btn-dark" target="_blank">Sign in</a>
                </div>
            </div>
            <div class="row mt-6">
                <div class="col-md-8 mx-auto text-center">
                    <h1>MacBook Air</h1>
                    <p class="lead mb-5"></p>
                    <a href="#" class="btn btn-success">
                        Order
                    </a>
                </div>
            </div>
            <div class="text-center">
                <img src="{% static 'img/air4.png' %}" class="rounded" alt="mac air">
            </div>


        </div>
    </section>

    <!--Features Section-->
    <section class="py-6">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <h2 class="text-center text-md-left">Quick Look</h2>
                    <div class="row feature-grid">
                        <div class="col-sm-6">
                            <div class="media">
                                <div class="media-body">
                                    Liquid Retina display 13.6
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="media">
                                <div class="media-body">
                                    Apple M2 chip
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="media">
                                <div class="media-body">
                                    8-core CPU
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="media">
                                <div class="media-body">
                                    Up to 18 hrs battery life
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="media">
                                <div class="media-body">
                                    Up to 24 GB unified memory
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="media">
                                <div class="media-body">
                                    Up to 2 TB storage
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--footer-->
    <footer class="py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="#">Go up</a></li>
                    </ul>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-md-4 mx-auto text-muted text-center small-xl">
                    &copy; 2023 Pet Landing Page
                </div>
            </div>
        </div>
    </footer>

    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/plugins/line-numbers/prism-line-numbers.min.js"></script>
    <script src="js/scripts.js"></script>
</body>

</html>