{% extends 'base.html' %}

{% load static %}

{% block title %}Main page{% endblock title %}

{% block content %}

<!--Main Section-->
<section>
    <div class="container">
        <div class="text-center">
            <h1>MacBook Air</h1>
            <div>
                <a href="{% url 'form' %}" class="btn btn-success">
                    Order
                </a>
            </div>

            {% if img %} <!-- TODO: добавить изображение из формы -->
            <img src="{% static 'img/air4.png' %}" class="img-fluid" alt="mac air">
            {% else %}
            <img src="{% static 'img/no_img.jpg' %}" class="img-fluid">
            {% endif %}
        </div>
    </div>
</section>

<!--Features Section-->
<section class="py-6">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h2 class="text-center text-md-left">Quick Look</h2>
                <div class="row feature-grid">
                    <div class="col-sm-6">
                        <div class="media">
                            <div class="media-body">
                                Liquid Retina display 13.6
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="media">
                            <div class="media-body">
                                Apple M2 chip
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="media">
                            <div class="media-body">
                                8-core CPU
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="media">
                            <div class="media-body">
                                Up to 18 hrs battery life
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="media">
                            <div class="media-body">
                                Up to 24 GB unified memory
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="media">
                            <div class="media-body">
                                Up to 2 TB storage
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}