{% extends 'base.html' %}

{% load static %}

{% block title %}Form{% endblock title %}

{% block content %}

{% if request.user.is_authenticated %}
<form class="p-3">

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Name</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% else %}
<form class="p-3">

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Name</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endif %}

{% endblock content %}