{% extends 'base.html' %}

{% load static %}

{% block title %}Main page{% endblock title %}

{% block content %}

<!--Main Section-->

{% for product in list_products %}
<section>
    <div class="container">
        <div class="text-center">
            <h1>{{ product.title }}</h1>
            <p>{{ product.description }}</p>
            <div>
                <a href="#" class="btn btn-success">
                    Order
                </a>
            </div>
            <img src="{% static 'img/air4.png' %}" class="img-fluid">
        </div>
    </div>
</section>

<!--Features Section-->
<section class="py-6">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h2 class="text-center text-md-left">Quick Look</h2>
                <div class="row feature-grid">
                    {% for advantage in list_advantages %}
                    <div class="col-sm-6">
                        <div class="media">
                            <div class="media-body">
                                <h3>{{ advantage.title }}</h3>
                                <p>{{ advantage.description }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endfor %}

{% endblock content %}