{% extends 'base.html' %}

{% load static %}

{% block title %}Form{% endblock title %}

{% block content %}
<div class="conteiner">
    <div class="row">
        <!-- Order form -->
        <div class="col-8">
            <h1>Order</h1>
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Name</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <a href="{% url 'index' %}" class="btn btn-success">
                        Submit
                    </a>
                </div>
            </form>
        </div>
        <!-- Product detail -->
        <div class="col-4">
            <div class="bg-light p-3">
                <h5>Product detail:</h5>
                <p>product: {{ product.title }}</p>
                <p>price: $ {{ product.price }}</p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}